body{
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0px;
  height: auto;
  top: 0px;
}
.navbar{
  width: 100%;
  padding-right: 30px;
  right: 0px;
}
.nav-content ul{
  height: 30px;
  float: right;
  min-width: 231px;
  order: 1;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
}
.nav-content ul li{
  float: right;
  padding-left: 15px;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.nav-content ul li a{
  color: #000;
  font-family: arial, sans-serif;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  height: 24px;
}
.nav-content ul li a:hover{
  text-decoration: underline;
}
.nav-content img{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 16px;
  width: 16px;
  opacity: 0.55;
  cursor: default;
}
.sign-in{
  margin-top: 0px;
  border: 1px solid #4285f4;
  font-weight: bold;
  background: #4285f4;
  background-origin: padding-box;
  background-clip: border-box;
  background: linear-gradient (top, #4387fd, #4683ea);
  background-size: auto;
  border-image-repeat: stretch;
  text-align: right;
  line-height: 27px;
  border-radius: 2px;
  padding-left: 12px;
  padding-right: 12px;
}
.nav-content ul li .sign-in a{
  color: #fff;
  opacity: none;
  filter: none;
}
.nav-content ul li .sign-in a:hover{
  text-decoration: none;
  cursor: default;
}
.main-content{
  display: block;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 201px;
}
.search-field{
  position: relative;
  width: 584px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  flex-direction: column;
}
form input[type=search]{
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  align-items: flex-end;
  width: 586px;
  height: 26px;
  margin: 0 0 8px 0;
  padding: 19px 5px;
  outline-color: #4285f4;
  direction: ltr;
  font-size: 13px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 2px;
  border-color: rgb(217,217,217);
  }
.search-field:hover span{
  display:inline-block;
}
span{
  background: none repeat scroll 0 0 black;
  border: 1px solid black;
  color: white;
  width:45px;
  font-size: 13px;
  margin:auto;
  position: absolute;
  text-align: center;
  top: 35px;
  left:60px;
  display:none;
  padding:0px;
}
.button-area li{
  text-decoration: none;
  display: inline-block;
}
button:hover{
  color: #222222;
  border: 1px solid rgb(217, 217, 217);
}
.new-mic img{
  position: absolute;
  width: 4%;
  right: 6px;
  top: 8px
}
.button-area{
  margin-top: 25px;
  width: 584px;
  height: 58px;
  display: inline-block;
  text-align: center;
}
button{
  height: 36px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 0px 2px;
  min-width: 54px;
  padding: 0 16px;
}


/* START: Footer */
.footer{
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	height: 28px;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
  padding-bottom: 12px;
  margin-left: -32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul{
  padding-bottom: 6px !important;
}
#footer-left ul li{
  display: inline-block;
  float: left;
  padding-left: 27px;
}
#footer-right ul li{
  display: inline-block;
  float: right;
  padding-left: 27px;
}
#footer-right ul li:first-of-type{
  padding-right: 27px;
}
.footer ul li a{
 text-decoration: none;
 color: #666;
 font-family: arial, sans-serif;
 font-size: 13px;
}
#footer ul li a:hover{
  text-decoration: underline;
}
